<!DOCTYPE html>
<html>
<head>
    <title>Your Advisor Info</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Your Advisor Info</h1>
    <br>

    {% if advisor %}
    <table border="1" cellpadding="5">
        <tr>
            <th>Advisor ID</th>
            <th>Name</th>
            <th>Department</th>
        </tr>

        <tr>
            <td>{{ advisor.ID }}</td>
            <td>{{ advisor.name }}</td>
            <td>{{ advisor.dept_name }}</td>
        </tr>
    </table>
    {% else %}
        <p>No advisor data found.</p>
    {% endif %}

    <br>
    <a href="/student-portal" class="btn">Back to Student Portal</a>

</body>
</html>