<!DOCTYPE html>
<html>
<head>
    <title>Drop</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <h1>Drop Classes</h1>
    <br>

    {% if courses %}
    <table border="1" cellpadding="5">
        <tr>
            <th>Course ID</th>
            <th>Section #</th>
            <th>Semester</th>
            <th>Year</th>
            <th>Drop</th>
        </tr>

        {% for row in courses %}
        <tr>
            <td>{{ row.course_id }}</td>
            <td>{{ row.sec_id }}</td>
            <td>{{ row.semester }}</td>
            <td>{{ row.year }}</td>
            <td>
                <a href="/student-portal/drop/remove?course_id={{ row.course_id }}&sec_id={{ row.sec_id }}&semester={{ row.semester }}&year={{ row.year }}">
                    Drop
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No section data found</p>
    {% endif %}

    <br>
    <a href="/student-portal" class="btn">Back to Student Portal</a>

</body>

</html>