<!DOCTYPE html>
<html>
<head>
    <title>Student Portal</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

    <h1>Student Portal ({{semester}}  {{year}})</h1>

    <p>Welcome, {{student.name}}! Choose an option below:</p>

    <div class="menu">
        <a class="btn" href="/student-portal/grades">View Grades</a>
        <a class="btn" href="/student-portal/courses">View Courses</a>
        <a class="btn" href="/student-portal/advisor">Advisor Information</a>
        <a class="btn" href="/student-portal/register">Register for a Class</a>
        <a class="btn" href="/student-portal/drop">Drop a Class</a>
        <a class="btn" href="/student-portal/update-info">Update Personal Info</a>
        <a class="btn logout" href="/logout">Logout</a>
    </div>

</body>
</html>
