<!DOCTYPE html>
<html>
<head>
    <title>Admin Portal</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

    <h1>Administrator Portal</h1>

    <p>Welcome, Administrator. Choose a section to manage:</p>

    <div class="menu">

        <a class="btn" href="/admin/course">Manage Courses</a>
        <a class="btn" href="/admin/section">Manage Sections</a>
        <a class="btn" href="/admin/classroom">Manage Classrooms</a>
        <a class="btn" href="/admin/department">Manage Departments</a>
        <a class="btn" href="/admin/time_slot">Manage Time Slots</a>
        <a class="btn" href="/admin/instructor">Manage Instructors</a>
        <a class="btn" href="/admin/student">Manage Students</a>

        <a class="btn logout" href="/logout">Logout</a>

    </div>

</body>
</html>