<!DOCTYPE html>
<html>
<head>
    <title>Admin Portal</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>


<body>
<h1>All Time Slots</h1>

<table border="1" cellpadding="5">
    <tr>
        <th>Time Slot ID</th>
        <th>day</th>
        <th>Start Hr</th>
        <th>Start Min</th>
        <th>End Hr</th>
        <th>End Min</th>
    </tr>

    {% for t in time_slots %}
    <tr>
        <td>{{ t.time_slot_id }}</td>
        <td>{{ t.day }}</td>
        <td>{{ t.start_hr }}</td>
        <td>{{ t.start_min }}</td>
        <td>{{ t.end_hr }}</td>
        <td>{{ t.end_min }}</td>
        <td>
            <a href="/admin/time_slot/update?time_slot_id={{ t.time_slot_id }}">Edit</a> |
            <a href="/admin/time_slot/delete?time_slot_id={{ t.time_slot_id }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="/admin/time_slot" class="btn">Back to Time Slot Management</a>
</body>
</html>