<!DOCTYPE html>
<html>
<head>
    <title>Admin Portal</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <h1>Create a New Time Slot</h1>

    <form method="POST">

        <label>Time Slot ID:</label><br>
        <input type="text" name="time_slot_id" required class="form"><br><br>

        <label>Day:</label><br>
        <input type="text" name="day" required class="form"><br><br>

        <label>Start Hr:</label><br>
        <input type="text" name="start_hr" required class="form"><br><br>

        <label>Start Min:</label><br>
        <input type="text" name="start_min" required class="form"><br><br>

        <label>End Hr:</label><br>
        <input type="text" name="end_hr" required class="form"><br><br>

        <label>End Min:</label><br>
        <input type="text" name="end_min" required class="form"><br><br>

        <button type="submit" class="btn-green">Create Time Slot</button>

    </form>

    <br>
    <a href="/admin/time_slot" class="btn">Back to Time Slot Management</a>

</body>
</html>