<!DOCTYPE html>
<html>
<head>
    <title>Instructor Portal</title>
</head>

<body>

    <h1>Instructor Portal</h1>

    <p>Welcome! Choose an option below:</p>

    <div class="menu">
        <a class="menu-item" href="/instructor-portal/grades">Submit or Change Grades</a>
        <a class="menu-item" href="/instructor-portal/advising">Manage Advising</a>
        <a class="menu-item" href="/instructor-portal/prereq">Modify Prereqs</a>
        <a class="menu-item" href="/instructor-portal/section">Check Section</a>
        <a class="menu-item" href="/instructor-portal/update-info">Update Personal Info</a>
    </div>

</body>
</html>